<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank Web Application</title>
    <script th:include="fragments/header.html :: headerScript" th:remove="tag"></script>
</head>
<body>
<div class="card text-bg-light mb-3" th:each="account : ${userBankAccounts}" style="width: 25rem;">
    <h5 class="card-header" th:text="${account.accountName}" >Account name</h5>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted" th:text="${account.currency}">Currency account</h6>
        <h6 class="card-subtitle" th:text="|Account no. ${account.number}|">Currency number</h6>
        <h6 class="card-subtitle" th:text="|Balance ${account.balance} ${account.currencySymbol}|">Currency balance</h6>
        <a href="/dashboard/create-account">klik</a>
        <a id="viewAccount" class="card-link">Card link</a>
    </div>
</div>
</body>
</html>