<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank Web Application</title>
    <script th:include="fragments/header.html :: headerScript" th:remove="tag"></script>
    <script type="text/javascript">
        $(function () {
            $("#registerBtn").click(function () {
                window.location.href = '/login/register';
            });
        });
    </script>
</head>
<body>
<div class="card">
    <h2>Please login or register</h2>
    <div class="card-body">
        <form action="" method="post">
            <fieldset>
                <div class="form-group">
                    <label>
                        <label for="username" class="form-label">Login</label>
                        <input type="text" class="form-control" th:field="${userDto.username}">
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <label for="password" class="form-label">Password</label>
                        <input type="text" class="form-control" th:field="${userDto.password}">
                    </label>
                </div>
                <button type="submit" class="btn">Login</button>
                <button id="registerBtn" type="button" class="btn btn-primary">Register Page</button>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>